<div class="search-image-container">

  <% if image.is_a? UploadedFile and image.filename %>
    <% extension = image.extension %>
    <% if ['jpg', 'jpeg', 'gif', 'png', 'tiff', 'svg'].include? extension %>
      <%= link_to image_tag(image.public_filename(:thumb)), image.view_url, class: 'search-image-pic' %>
    <% elsif ['pdf'].include? extension %>
      <%= link_to '', image.view_url, :class => 'search-image-pic icon-application-pdf' %>
    <% elsif ['doc', 'docx', 'odt', 'rtf', 'txt', 'html', 'htm'].include? extension %>
      <%= link_to '', image.view_url, :class => 'search-image-pic icon-application-vnd-oasis-opendocument-text' %>
    <% elsif ['xls', 'xlsx', 'ods', 'csv', 'tsv', 'tab'].include? extension %>
      <%= link_to '', image.view_url, :class => 'search-image-pic icon-application-vnd-oasis-opendocument-spreadsheet' %>
    <% end %>
  <% elsif image.is_a? Gallery %>
    <div class="search-gallery-items">
      <% r = image.children.order(:updated_at).where('type = ?', 'UploadedFile').last(3) %>
      <% if r.length > 0 %>
        <% r.each_index do |i| img = r[i] %>
          <%= link_to '', img.view_url, :class => "search-image-pic pic-num#{i+1}",
                                        :style => 'background-image: url(%s)'% img.public_filename(:thumb) %>
        <% end %>
      <% else %>
        <div class="search-no-image"><span><%= _('No image') %></span></div>
      <% end %>
    </div>
  <% else %>
    <div class="search-content-type-icon icon-content-<%=image.class.to_s.underscore.dasherize%>" style="padding: 0;"></div>
  <% end %>
</div>
