<%= safe_join(@plugins.dispatch(:upload_files_extra_fields, params[:parent_id]).collect { |content| instance_exec(&content) }, "") %>

<% if parent %>
  <%= hidden_field_tag('parent_id', parent.id) %>
<% else %>
  <%= select_profile_folder(_('Choose folder to upload files:'), :parent_id, profile) %>
<% end %>

<div id='uploaded_files'>
  <%= render :partial => 'cms/upload_file', locals: { size: size } %>
</div>

<%= hidden_field_tag('back_to', back_to) %>

<%= button_bar do %>
  <%= button_to_function :plus, _('Add files...'), "add_new_files()", class: "button with-text btn-green" %>
  <% if defined?(back_to) && back_to.present? %>
    <%= submit_button :upload, _('Upload'), :cancel => back_to %>
  <% else %>
    <%= submit_button :upload, _('Upload'), :cancel => {:action => (@parent ? 'view' : 'index'), :id => @parent } %>
  <% end %>
<% end %>

<table class="uploaded_files_table">
  <tbody>
  </tbody>
</table>
