<h1><%= _('Profile settings for %s').html_safe % profile.name %></h1>

<%= error_messages_for :profile_data %>

<%= labelled_form_for :profile_data, :html => { :id => 'profile-data', :multipart => true } do |f| %>

  <% if user.has_permission?('manage_environment_templates', profile.environment) %>
    <div id="profile-is-template">
      <%= labelled_check_box(_('This profile is a template'), 'profile_data[is_template]', true, @profile.is_template) %>
    </div>
  <% end %>

  <%= render :partial => partial_for_class(@profile.class), :locals => { :f => f } %>

  <hr>

  <div id="profile_change_picture_title">
    <h2><%= _('Change picture') %></h2>
    <span><%= unchangeable_privacy_field @profile %></span>
  </div>
  <div id="profile_change_picture">
    <%= file_field_or_thumbnail(_('Image:'), @profile.image, 'profile_data[image_builder]') %>
    <%= _("Max size: %s (.jpg, .gif, .png)").html_safe % Image.max_size.to_humanreadable %>
  </div>

  <hr>

  <h2><%= _('Privacy options') %></h2>
  <%= content_tag('h4', _('Followers')) %>
  <div>
    <%= labelled_check_box _("Allow other users to follow me"), 'profile_data[allow_followers]',
                            true, @profile.allow_followers?, :class => "person-can-be-followed" %>
  </div>
  <%= content_tag('h4', _('Visibility')) %>
  <% if profile.person? %>
    <div id="profile_allow_follows">
      <%= labelled_radio_button _('Public &mdash; show my contents to all internet users').html_safe, 
                                'profile_data[public_profile]', true, @profile.public_profile? %>
    </div>
    <div>
      <%= labelled_radio_button _('Private &mdash; show my contents only to friends').html_safe, 
                                'profile_data[public_profile]', false, !@profile.public_profile? %>
    </div>
  <% else %>
    <div>
      <%= labelled_check_box _("Secret &mdash; hide the community and all its contents for non members 
                             and other people can't join this community unless they are invited to.").html_safe,
                             'profile_data[secret]', true, profile.secret, :class => "profile-secret-box" %>
    </div>
    <div>
      <%= labelled_radio_button _('Public &mdash; show content of this group to all internet users').html_safe, 
                                'profile_data[public_profile]', true, @profile.public_profile?, 
                                :class => "public-community-button" %>
    </div>
    <div>
      <%= labelled_radio_button _('Private &mdash; show content of this group only to members').html_safe,
                                'profile_data[public_profile]', false, !@profile.public_profile?,
                                :class => "private-community-button" %>
    </div>
  <% end %>

  <%= content_tag('h4', _('Wall access')) %>
  <%= content_tag( 'small', _('Who will be able to see your wall?')) %>
  <%= access_slider_field_tag('wall-access', 'profile_data[wall_access]', @profile, 
                              @profile.wall_access, @profile.wall_access_levels) %>

  <h2><%= _('Translations') %></h2>
  <%= labelled_check_box(
    _('Automaticaly redirect the visitor to the article translated to his/her language'),
    'profile_data[redirect_l10n]', true, @profile.redirect_l10n
  )%>

  <hr>

  <h2><%= _('Suggestions') %></h2>
  <%= labelled_check_box(
    _('Send me relationship suggestions by email'),
    'profile_data[email_suggestions]', true, @profile.email_suggestions
  )%>

  <%=
    safe_join(@plugins.dispatch(:profile_editor_extras).map do |content|
      content.kind_of?(Proc) ? self.instance_exec(&content) : content
    end, "\n")
  %>

  <hr>

  <h2><%= _('Tags of your interest') %></h2>
  <%= render :partial => 'shared/tags_field', :locals => {:f => f, :value => @profile.tag_list} %>

  <hr>

  <%= select_categories(:profile_data, _('Categories of your interest'), 2) %>

  <hr>

  <%= content_tag('h2', _('Files upload')) %>
  <div>
    <%= labelled_check_box _('Send single file in upload with description').html_safe,
                          'profile_data[metadata][allow_single_file]', "1", @profile.metadata['allow_single_file'] == "1" %>
  </div>

  <hr>

  <%= button_bar do %>
    <%= button(:back, _('Back'), controller: 'profile_editor') %>
    <%= submit_button('save', _('Save')) %>
    
    <%= button(:add, _('Advanced Options'), '#!', id: 'advanced_options_button') %>
    
    <div id="advanced_options">
        <% if user && user.has_permission?('destroy_profile', profile) %>
          <% if user.is_admin?(environment) %>
            <% if profile.visible? %>
              <%= button(:ban, _('Deactivate profile'), { action: :deactivate_profile, id: profile.id }, 
                         id: 'deactivate_profile_button', 
                         data: { confirm: _("Are you sure you want to deactivate this profile?") }) %>
            <% else %>
              <%= button(:'toggle-on', _('Activate profile'), { action: :activate_profile, id: profile.id }, 
                         data: { confirm: _("Are you sure you want to activate this profile?") }) %>
            <% end %>
          <% end %>
        <% end %>

        <% if !environment.enabled?('forbid_destroy_profile') || user.is_admin?(environment) %>
            <%= button(:delete, _('Delete profile'), { action: :destroy_profile }, 
                       data: { confirm: _("Are you sure you want to deactivate this profile?") }) %>
        <% end %>
    </div>
  <% end %>
<% end %>

<%= javascript_include_tag 'profile_editor' %>
