<%= file_field_tag("#{for_attr}[uploaded_data]", { onchange: 'update_image(this)', style: 'display: none;' } ) %>
<%= button_to_function :plus, _('Add image'), "add_new_image(this); return false;", class: "button with-text icon-plus" %>
<%= content_tag :span, '', id: 'img_name' %>
<%= labelled_form_field(_("Image Label:"), text_field_tag("#{for_attr}[label]")) %>
<%= button_to_function(:cancel, _('Cancel'),"jQuery('#change-image-link').show(); jQuery('#change-image').hide()", :id => 'cancel-change-image-link', style: 'display: none')%>
