@import url(../base/style.css);

.text-editor-sidebar {

}

#title-bar {
  background-color: gray;
}
#title-bar h1 {
  color: white;
}
#chat-window {
  background: white;
}
#buddy-list #environment-logo {
  background-color: #BBB;
}

/* Members list*/
.profile-members-tabs-container .ui-corner-all{
  padding-bottom: 10px;
}

#content #members-tab ul.profile-list-members,
#content #admins-tab ul.profile-list-admins{
  margin: 10px auto;
}

.common-profile-list-block .profile-image{
  height: auto;
}

.common-profile-list-block .profile-image img{
  max-height: 80px;
  max-width: 80px;
}

.box-1 .common-profile-list-block span{
  width: 84px;
}

.box-1 .common-profile-list-block span.fn {
  margin-top: 5px;
  height: 25px;
  width: 80px;
}

.action-profile-send_mail .send-mail-recipients {
  color: #888888;
  padding: 10px;
  width: 475px;
  line-height: 15px;
}

#uploaded_files {
  display: none;
}

form#file_upload_form .formfieldline label {
  display: inline-block;
  margin-right: 5px;
}

form#file_upload_form .formfieldline .formfield {
  display: inline-block;
}

form#file_upload_form .formfieldline .formfield select {
  width: 60%;
}

form#file_upload_form .button-bar a.icon-add {
  margin-right: 6px;
}

table.uploaded_files_table tr {
  border-top: 1px solid #ddd;
  height: 6em;
}

table.uploaded_files_table tr td:first-child {
  width: 70%;
}

table.uploaded_files_table tr:hover td {
  background-color: inherit;
}

table.uploaded_files_table tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.hidden-submit {
  display: none !important;
}

i {
  font-size: 1.1em;
  margin-right: 4px;
}

body hr {
  margin: 25px 0 0 0;
  border-width: 1px;
  color: lightgrey;
  margin-top: 25px;
}

body textarea {
  border: 1px solid rgb(169, 169, 169);
  font-size: 13px;
}

body select {
  display: block;
  padding: 6px 70px 6px 12px;
  max-width: 100%;
  height: 100%;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  background: url(/images/selectbox-down-arrow.png) right center no-repeat;
  background-color: #fff;
  color: #444444;
  font-size: 1.1em;
  line-height: 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@media only screen and (max-width: 960px) {
  body select {
    padding: 6px 40px 6px 12px;
  }
}
@media only screen and (max-width: 540px) {
  body select {
    padding: 6px 25px 6px 12px;
  }
}

body select option {
  padding: 0 4px;
}

select::-ms-expand {
  display: none;
}

select:disabled::-ms-expand {
  background: #f60;
}

a.remove-file {
  font-size: 1.4em;
  cursor: pointer;
}

#top-search {
  justify-content: center;
}

#search-button{
  height: 50% !important;
}
