<% @profile_data = @person %>

<%= javascript_include_tag('sign_up_password_rate') %>

<%= error_messages_for :user, :person, :header_message => _('The account could not be created') %>

<%= labelled_form_for :user, :html => { multipart: true, id: 'signup-form', class: 'form-with-captcha', honeypot: true } do |f| %>

<input type="hidden" id="signup_time_key" name="signup_time_key" />
<script type="text/javascript">
  jQuery.ajax({
    type: "GET",
    url: "<%= url_for :controller=>'account', :action=>'signup_time' %>",
    dataType: 'json',
    success: function(data) {
      if (data.ok) jQuery('#signup_time_key').val(data.key);
    }
  });
</script>

<%= hidden_field_tag :invitation_code, @invitation_code %>

<div id='signup-form-header'>

  <div id='signup-formfield-group'>
    <%= label(:user, :login, _('Username'), {:class => 'formlabel'}) %>
    <div id='signup-login'>
      <div id='signup-login-field' class='formfield'>
        <div class='domain-field'>
          <span id="signup-domain"><%= environment.default_hostname %>/</span>
          <%= required text_field(:user, :login, :id => 'user_login',
                                  :onchange => 'this.value = convToValidUsername(this.value);') %>
        </div>
        <div id='url-check'><p>&nbsp;</p></div>
        <span id='checking-message' class='checking' style='display:none'><%= _('Checking availability of login name...') %></span>
      </div>
    </div>
  </div>
  <%= javascript_include_tag "signup_form" %>
  <div id='signup-password'>
    <%= required f.password_field(:password, :id => 'user_pw') %>
    <div id='password-rate'>
      <p><span class="invalid" id='result-blank'>
        &nbsp;
      </span></p>
      <p><span class="invalid hidden" id='result-short'>
        <%=_('Short') %>
      </span></p>
      <p><span class="invalid hidden" id='result-bad'>
        <%=_('Bad') %>
      </span></p>
      <p><span class="invalid hidden" id='result-good'>
        <%=_('Good') %>
      </span></p>
      <p><span class="invalid hidden" id='result-strong'>
        <%=_('Strong') %>
      </span></p>
    </div>
  </div>

  <div id='signup-password-confirmation'>
    <%= required f.password_field(:password_confirmation) %>
    <div id='password-check'><p>&nbsp;</p></div>
  </div>

  <div id='signup-email'>
    <%= required f.text_field(:email) %>
    <div id='email-check'><p>&nbsp;</p></div>
  </div>
  <%= observe_field "user_email",
        :url      => { :action => "check_email" },
        :with     => "address",
        :update   => "email-check",
        :loading  => "jQuery('#user_email').removeClass('#{validation_classes}').addClass('checking');
                      jQuery('#email-check').html('<p><span class=\"checking\">#{checking_message(:email)}</span></p>');",
        :complete => "jQuery('#user_email').removeClass('checking')",
        :before   => "var field = jQuery('#user_email');
                      if (field.val()=='') {
                        field.removeClass('#{validation_classes}');
                        jQuery('#email-check').html('<p>&nbsp;</p>');
                        return false;
                      }
                      if (!( field.valid() )) {
                        field.removeClass('#{validation_classes}').addClass('invalid');
                        jQuery('#email-check').html('<p><span class=\"invalid\">#{_('This e-mail address is not valid')}</span></p>');
                        return false;
                      }"
  %>

  <div id='signup-name'>
    <%= labelled_form_field(_('Full name'), text_field(:profile_data, :name)) %>
  </div>

</div>

<div id="signup-form-profile">

  <%= labelled_fields_for :profile_data, @person do |f| %>
    <%= render :partial => 'profile_editor/person_form', :locals => {:f => f} %>
  <% end %>

  <%= safe_join(@plugins.dispatch(:signup_extra_contents).collect { |content| instance_eval(&content) }, "") %>

  <%= render :partial => 'shared/custom_fields', :locals => {:f => f, :profile => @person, :signup => true} %>
  <%= template_options(:people, 'profile_data') %>

  <%= render :partial => 'shared/profile_kinds', :locals => {:form_field => 'profile_data'} %>

  <% unless @terms_of_use.blank? %>
    <div id='terms-of-use-box' class='formfieldline'>
      <%= labelled_check_box(_('I accept the %s').html_safe % link_to(_('terms of use'), {:controller => 'home', :action => 'terms'}, :target => '_blank'), 'user[terms_accepted]') %>
    </div>
  <% end %>

  <% if params[:enterprise_code] %>
    <%= hidden_field_tag :enterprise_code, params[:enterprise_code] %>
    <%= hidden_field_tag :answer, params[:answer] %>
    <%= hidden_field_tag :terms_accepted, params[:terms_accepted] %>
    <%= hidden_field_tag :new_user, true %>
  <% end %>
</div>

<%= captcha_tags(:signup, nil, environment) %>

<p style="text-align: center">
  <%= submit_button('new_user', _('Create my account')) %>
</p>

<% end -%>

<script type="text/javascript">
jQuery(function($) {

  $('#signup-form input[type=text], #signup-form textarea').each(function() {
    $(this).bind('blur', function() {
      if ($(this).val() == '') {
        $(this).removeClass('filled-in');
      }
      else $(this).addClass('filled-in');
    });
  });

  $('#user_password_confirmation, #user_pw').blur(function() {
    if ($('#user_password_confirmation').val() != '') {
      if ($('#user_password_confirmation').val() == $('#user_pw').val()) {
        $('#user_password_confirmation').addClass('validated').removeClass('invalid');
        $('#user_pw').removeClass('invalid_input').addClass('valid_input');
        $('#password-check').html("<p>&nbsp;</p>");
      } else if ($('#user_password_confirmation').val() != $('#user_pw').val()) {
        $('#user_password_confirmation').removeClass('validated').addClass('invalid');
        $('#user_pw').addClass('invalid_input').removeClass('valid_input');
        $('#password-check').html("<p><span class='invalid'><%= _('Passwords don\'t match') %></span></p>");
      }
    }
  });

  $('#signup-form').validate({ rules: { 'user[email]': { email: true } }, messages: { 'user[email]' : '' } });

  $('#profile_data_name').blur(function() {
    if ($(this).val() == '') {
      $(this).removeClass('validated');
    }
    else $(this).addClass('validated');
  });
});

function fill_username(element){
  jQuery('#url-check').html("<p><span class='checking'><%= _('This login name is available') %></span></p>")
  jQuery('#user_login').val(element).addClass('validated').removeClass('invalid')
}
</script>
