#signup-intro {
  font-size: 16px;
  color: #4A4A4A;
  width: 100%;
  max-width: 600px;
  margin: 30px auto;
}

#signup-form {
  color: #4A4A4A;
  width: 100%;
  max-width: 600px;
  margin: auto;
  font-size: 14px;

  input { width: 100%; }

  #signup-login-field {
    .domain-field {
      display: flex;

      .required-field { 
        width: 100%;
      }
    }

    #signup-domain {
      background: #e8e8e8;
      padding: 7px;
    }
  }

  small { display: none; }

  #terms-of-use-box,
  .recaptcha-wrapper {
    text-align: center;
  }
}

#signup-form input.invalid_input {
  border: 1px solid #7f0000;
  background: #FFF;
  box-shadow: 0 0 7px red;
}

#signup-form input.valid_input {
  border: 1px solid #005000;
  background: #FFF;
}

#signup-form #profile_data_login {
  margin: 3px 0px 0px 5px;
}

#signup-form .filled-in,
#signup-form .invalid,
#signup-form input.validated,
#signup-form .checking {
  border-width: 1px;
  border-style: solid;
  background-color: #fff;
  background-position: right center;
  background-repeat: no-repeat;
  padding: 7px 7% 8px 3%;
  color: #4A4A4A;
  box-shadow: 0 0 7px green;
}

#signup-form input.checking {
  box-shadow: none;
}

#signup-form select {
  height: auto;
  padding-right: 3px;
  width: 365px;
}

#signup-form .select-birth-date select {
  width: 93px;
  margin-right: 2px;
  margin-left: 0;
}

.webkit #signup-form select {
  background: #fff;
}

#signup-form select {
  width: 100%;
}

#signup-form textarea {
  height: 100px;
  padding-right: 3px;
  width: 96%;
}

#signup-form input[type=file] {
  font-size: 12px;
}

#signup-form input[type=radio] {
  height: auto;
  margin: 0px 5px 0px 3px;
  width: auto;
}

#signup-form input[type=checkbox] {
  height: 20px;
  width: 20px;
  margin: 0px 5px 0px 3px;
}

#signup-form input[type=number] {
  padding-right: 0;
  width: 96%;
}

#signup-form .fieldgroup {
  margin: 5px 10px;
}

#signup-form label{
  font-size: 16px;
}

#signup-form #template-options li label {
  font-size: 18px;
}

#signup-form #template-options li a {
  color: #555753
}

#signup-form label[for=profile_data_sex_female],
#signup-form label[for=profile_data_sex_male] {
  color: #6d786e;
  display: inline;
  margin-left: 8px;
}

#signup-form label[for=profile_data_country],
#signup-form label[for=profile_data_preferred_domain_id],
#signup-form label[for=profile_data_birth_date_2i],
#signup-form label[for=profile_data_birth_date_3i],
#signup-form label[for=profile_data_schooling],
#signup-form label[for=profile_data_formation],
#signup-form label[for=profile_data_area_of_study],
#signup-form label[for=profile_data_image_builder_uploaded_data] {
  display: block;
}

#signup-form .invalid {
  border-color: #7f0000;
  background-image: url(/images/passwords_nomatch.png);
  box-shadow: 0 0 7px red;
}

#signup-form span.invalid {
  border: none;
  padding: 0px;
  background: transparent;
  color: #7f0000;
  box-shadow: none;
}

#signup-form .checking {
  border-color: #4A4A4A;
  background-image: url(/images/login_checking.png);
}

#signup-form span.checking {
  border: none;
  padding: 0px;
  background: transparent;
  color: #4A4A4A;
  box-shadow: none;
}

#signup-form .validated {
  border-color: #005000;
  background-image: url(/images/passwords_match.png);
}

#signup-form span.validated {
  background: transparent;
  color: #005000;
}


#signup-form #signup-password,
#signup-form #signup-password-confirmation,
#signup-form #signup-email,
#signup-form #signup-name,
#signup-form #signup-login {
  position: relative;
}

#signup-form small#signup-balloon,
#signup-form small#password-balloon,
#signup-form small#password-confirmation-balloon,
#signup-form small#email-balloon,
#signup-form small#name-balloon {
  display: none;
  width: 142px;
  height: 69px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 11px;
  padding: 5px 10px 45px 10px;
  margin: 0;
  line-height: 1.5em;
  background: transparent url(/images/gray-balloon.png) bottom center no-repeat;
  position: absolute;
  z-index: 2;
  right: -150px;
}

#signup-form small#signup-balloon {
  top: -110px;
}

#signup-form small#password-balloon,
#signup-form small#password-confirmation-balloon,
#signup-form small#email-balloon,
#signup-form small#name-balloon {
  top: -80px;
}

#signup-form .required-field label,
#signup-form .formlabel {
  color: #4A4A4A;
  font-weight: normal;
  text-align: left;
}

#signup-form .required-field label::after {
  content: '';
}

#signup-form div.custom-field.checkbox {
  text-align: left;
  padding: 10px 0;

  label {
    font-size: 20px;
  }
}

#signup-form-profile {
  margin-bottom: 10px;
}
